# Dependencies
node_modules/
.venv/
venv/
__pycache__/
*.pyc

# Next.js build
frontend/.next/
frontend/out/

# Environment files
.env
backend/.env

# SQLite Database
*.db
backend/*.db

# Logs & OS files
*.log
*.tsbuildinfo
.DS_Store
Thumbs.db
